body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.phone,
.tablet {
  background: white;
  border: 10px solid #051626;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  overflow: scroll;
  position: relative;
  left: 50%;
  top: 50px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.tablet {
  height: 682.66px;
  width: 512px;
}

.phone {
  height: 812px;
  width: 375px;
}

.phone::-webkit-scrollbar,
.tablet::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.top-nav {
  width: 50%;
  position: absolute;
  background: #051626;
  height: 50px;
  margin: 0 auto;
  top: -25px;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 25px;
}

.closer {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
}

.slug-editor {
  display: flex;
  align-items: center;
  color: white;
}

.slug-editor p {
  margin: 0;
  color: gray;
  padding-right: 10px;
}

i {
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1.1em;
  color: #57758e;
  margin-bottom: 40px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  transition: 0.5s;
}

.textField input {
  color: white;
}

.textField {
  margin: 0 !important;
}

.input-row {
  display: flex;
}

.ui-icon {
  background: transparent;
  color: #00eadb;
  border: 0px;
  width: 20px !important;
  font-size: 25px;
}

.input-row input {
  width: 42%;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* inputs */

.input-block {
  padding: 10px;
  border: 0px;
  font-size: 16px;
}

/* TEMP */

.btn {
  background: black;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
