body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.closer {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1.1em;
  color: #57758e;
  margin-bottom: 40px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  transition: 0.5s;
}

.textField label {
  color: #6d8691 !important;
}
.textField input {
  color: #00eadb;
}

.textField {
  margin: 0 !important;
}

/* TEMP */

.btn {
  background: black;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
