body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.phone {
  background: white;
  border: 10px solid #051626;
  border-radius: 50px;
  height: 812px;
  width: 375px;
  overflow: scroll;
  position: relative;
  left: 50%;
  top: 50px;
}

.phone::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.top-nav {
  width: 50%;
  position: relative;
  background: #051626;
  height: 50px;
  margin: 0 auto;
  top: -25px;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 25px;
}

.sound,
.camera {
  background: #01294a;
  height: 10px;
  position: absolute;
  z-index: 2;
  top: 29px;
}

.sound {
  width: 70px;
  left: 50px;
  border-radius: 25px;
}

.camera {
  left: 130px;
  border-radius: 50%;
  width: 10px;
}

.closer {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
}

i {
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1.1em;
  color: #57758e;
  margin-bottom: 40px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  transition: 0.5s;
}

.textField label {
  color: #6d8691 !important;
}
.textField input {
  color: #00eadb;
}

.textField {
  margin: 0 !important;
}

/* TEMP */

.btn {
  background: black;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
